/*
CSS
*/

body {
  margin: 0;
  padding: 0;
  font: .625em Arial, Helvetica, Sans-serif;
  background: #e9e9e9 url(../images/bg.png) repeat-y center top;
}

#page {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 960px;
  font-size: 1.2em;
  background-color: #fff;
}

/*
General
*/

p {
	margin: 1.4em 0;
	padding: 0;
	line-height: 1.4em;
}

img {
	border: 0;
}

hr {
	display: none;
}

a,
a:link,
a:active,
a:visited {
	color: #66ACC6;
	text-decoration: none;
	border-bottom: 1px dotted #66ACC6;
}

a:hover {
	border-bottom: 1px solid #66ACC6;
}


/*
Headers
*/

h1,
h2,
h3,
h4 {
	line-height: 1.286;
	margin: .4em 0;
	padding: 0;
	font: .625em Arial, Helvetica, Sans-serif;
}

h1 {
	font-weight: normal;
	font-size: 2.2em;
	text-align: left;
	color: #831A00;
}

h2 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.8em;
	color: #E6AC0C;
	font-style: italic;
	clear: both;
}

h3 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.45em;
	color: #5f6972;
}

h3#titulo-palestras {
	padding: 4px 0 0 50px;
	background: transparent url(../images/icone-palestras.png) no-repeat 6px 0;
	height: 32px;
}

h3#titulo-outras-atividades {
	padding: 4px 0 0 50px;
	background: transparent url(../images/icone-outras-atividades.png) no-repeat 0 0;
	height: 32px;
}

h3#titulo-horario {
	padding: 4px 0 0 50px;
	background: transparent url(../images/icone-relogio.png) no-repeat 6px 0;
	height: 32px;
}

h3#titulo-como-chegar {
	padding: 4px 0 0 50px;
	background: transparent url(../images/icone-mapa.png) no-repeat 0 0;
	height: 32px;
}

h4 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.4em;
	color: #5f6972;
}


/*
Header
*/

#header {
  height: 110px;
  border-bottom: 1px dotted #ccc;
}

#header #logo {
  margin: 0 0 0 16px;
}

#header #logo a {
  border: none;
  color: #3f72a6;
  font-size: 3.6em;
  font-weight: bold;
  font-family: verdana, arial, sans-serif;
  letter-spacing:-4px;
}

#header #logo a span {
  color: #66ACC6;
}

#header ul#menu {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 20px;
}

#header ul#menu li {
  float: left;
  font-size: 1.8em;
  font-weight:bold;
  letter-spacing: -1px;
  padding: 2px 30px 0 0;
}

#header ul#menu li a {
  border: none;
}

#header ul#menu li.eu-quero {
  float: right;
}

#header ul#menu li.eu-quero a {
  font-size: 2.8em;
  color: #E6AC0C;
}

/*
Forms
*/

form {
  margin: 20px 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 20px;
}

form div {
  padding: 0 0 5px 0;
}

form input {
  font-size: 1.1em;
  padding: 2px;
  display: block;
  width: 400px;
}

.error {
  color: #900;
}

form p {
  margin: -35px 0 0 440px;
  padding: 8px;
  width: 300px;
  position: absolute;
  border: 1px solid #033649;
  background-color: #036564;
  color: #fff;
  font-size: .9em;
  font-family: Arial, Helvetica, Sans-Serif;
}

form p em {
  font-size: 1.2em;
  display: block;
}

.info_label {
  display: none;
}

.button {
  width: 200px;
  text-align: center;
  padding: 4px;
  font-size: 1.1em;
  background-color: #031634;
  color: #fff;
  border: none;
}

/*
Content
*/

#content {
  margin: 0 20px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, Sans-serif;

}

#error {
    text-align: center;
}

#error img {
    padding: 2px;
    margin-bottom: 10px;
}

#content ul#team {
  font-size: 1.2em;
  color: #66ACC6;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content ul#team li {
  padding: 0 4px;
  height: 27px;
}

#box-team {
  height: 400px;
}

.box-column {
  width:440px;
  margin:0;
  padding: 0 10px 0 0;
  float: left;
}

#preco {
  float:right; 
  font-weight: bold;
  font-size: 2em;
  color: #000;
}

.sala {
  margin: 0;
  font-weight: bold;
}

/*
Tables
*/

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 20px 0;
}

table tr th {
  text-align: left;
}

table tr th,
table tr td {
  padding: 4px;
  vertical-align: top;
  border-bottom: 1px solid #e9e9e9;
}

table tr td.hora-agenda {
  width: 60px;
  font-size: 1.4em;
}

table tr td.descricao-agenda {
  width: 280px;
}

table tr td .titulo-agenda {
  font-weight: bold;
}


/*
Footer
*/

#footer {
  clear: both;
  height: 60px;
  padding: 10px 20px;
  border-top: 8px solid #87C6DD;
  background-color: #508396;
  color: #fff;
}

#footer #info {
  float: right;
  text-align: right;
}

#footer ul#social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

#footer ul#social li {
  display: inline;
  margin: 0 4px 0 0;
}

#footer ul#social li a {
  border: none;
}

#footer a {
  color: #bbeffb;
}

#footer p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#footer ul#menu-footer {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#footer ul#menu-footer li {
  display: inline;
  padding: 0 0 0 10px;
}
