{% extends "base.html" %}

{% block subtitle %}About PythonCampus{% endblock subtitle %}

{% block content %}
<h1>About PythonCampus</h1>

<h2>What is it?</h2>

<p><strong>PythonCampus</strong> is a technological circus that visits universities integrating students to the industry through <a href="http://python.org">Python</a> and <a href="http://www.opensource.org/">Open Source</a> software. This is the event that shows it's possible to transform passion about technology into a successful career.</p>

<p>It's a full day of talks, tutorials, coding dojos and open spaces, where everybody participates sharing experiences while making good friends.</p>

<h2>How it works?</h2>

<p>Community members join forces to setup a rich agenda focused on <a href="http://www.opensource.org/">Open Source</a>, <a href="http://agilemanifesto.org">Agile</a>, <a href="http://python.org">Python</a> and emerging technologies taking care of the logistics.</p>

<p>On the other front, the university provides the infrastructure needed to make a great event.</p>

<p>Together, we spread the word so all students get to know about this great opportunity.</p>

<h2>How to participate?</h2>

<p>Join the <a href="http://pythonrio.org">PythOnRio</a> community <a href="http://br.groups.yahoo.com/group/pythonrio/">mailing list</a> or <a href="/contato/">contact us</a> so we can take <strong>PythonCampus</strong> to your university.</p>

<h2>About us</h2>

<p>We are entrepreneurs, professionals, students, professors and enthusiasts, passionate about technology and sharing a strong belief in <a href="http://www.opensource.org/">Open Source</a> principles.</p>

<p>We are working to turn our community into <strong>the world's biggest bazaar <a href="http://www.flickr.com/search/?q=rio%20de%20janeiro%20beach&w=all&s=int">with view to the beach</a></strong>.</p>

{% endblock content %}