<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="PythonCampus" />
	<meta name="keywords" content="python, palestra, universidade, programação" />
  <meta http-equiv='content-Language' content='pt-BR' />		
  <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
  
  <title>PythonCampus</title>
	
	<link type="text/css" href="css/styles.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="css/print.css" rel="stylesheet" media="print" />
	
	<script type="text/javascript" src="js/jquery-1.4.min.js"></script>
</head>
<body>
  <div id="page">
    <div id="header">
      <div id="logo"><a href="#">Python<span>Campus</span></a></div>
      <ul id="menu">
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/programacao">Programação</a></li>
        <li class="eu-quero"><a href="/eu-quero">Eu quero!</a></li>
      </ul>
    </div>
    <hr />
    <div id="content">
      <h1>Sobre</h1>
      <h2>Lorem ipsum</h2>
      <h3>Lorem ipsum</h3>
      <h4>Lorem ipsum</h4>
      
      <p>Email, web, phone—however customers reach you, HelpSpot help desk software can centralize and effectively manage your support. From it's unique, intuitive workflow to the web based help desk portal, staff and customers will be empowered in ways that allow you to drive down costs while delivering a superior customer experience. </p>
      <p>Email, web, phone—however customers reach you, HelpSpot help desk software can centralize and effectively manage your support. From it's unique, intuitive workflow to the web based help desk portal, staff and customers will be empowered in ways that allow you to drive down costs while delivering a superior customer experience. </p>
      <p>Email, web, phone—however customers reach you, HelpSpot help desk software can centralize and effectively manage your support. From it's unique, intuitive workflow to the web based help desk portal, staff and customers will be empowered in ways that allow you to drive down costs while delivering a superior customer experience. </p>
      <p>Email, web, phone—however customers reach you, HelpSpot help desk software can centralize and effectively manage your support. From it's unique, intuitive workflow to the web based help desk portal, staff and customers will be empowered in ways that allow you to drive down costs while delivering a superior customer experience. </p>
      <p>Email, web, phone—however customers reach you, HelpSpot help desk software can centralize and effectively manage your support. From it's unique, intuitive workflow to the web based help desk portal, staff and customers will be empowered in ways that allow you to drive down costs while delivering a superior customer experience. </p>
      
      <ul>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
      </ul>
      
      <ol>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
        <li>list item</li>
      </ol>
      
      <blockquote>
        <p>Email, web, phone—however customers reach you, HelpSpot help desk software can <span>centralize</span></p>
      </blockquote>
    </div>
    <hr />
    <div id="footer">
      <p>&copy PythonCampus</p>
      <ul id="menu-footer">
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/programacao">Programação</a></li>
        <li><a href="#">Eu quero</a></li>
      </ul>
    </div>    
  </div>
</body>
</html>
