{% extends "base.html" %}

{% block subtitle %}Arena de Programação DojoRio{% endblock subtitle %}

{% block content %}

<h1>Arena de Programação DojoRio</h1>

<div id="dojo-content">
    <h2>O que é?</h2>
    <p>O <strong><a href="http://dojorio.org">Dojorio</a></strong> é uma experiência única de aprendizado e diversão.</p>

    <p>Aqui você vai aprimorar suas habilidades em desenvolvimento de software.</p>

    <p>Nós trocamos experiências em um ambiente inclusivo, onde estudamos boas práticas de programação utilizando conceitos de <a href="http://pt.wikipedia.org/wiki/Desenvolvimento_%C3%A1gil_de_software"><strong>Metodologias Ágeis</strong></a> como: <strong><a href="http://improveit.com.br/xp/praticas/programacao_par">programação pareada</a></strong>, Desenvolvimento Orientado a Testes (<a href="http://pt.wikipedia.org/wiki/Test_Driven_Development"><strong>TDD</strong></a>).</p>

    <p>Venha participar do nosso <strong><a href="http://codingdojo.org">Coding Dojo</a></strong> independente dos seus conhecimentos!</p>
    <h2>Onde e quando?</h2>
    <p>Sala 135 Bloco K às 9h.</p>
</div>

<div class="image-container">
    <img alt="Foto do coding dojo que aconteceu na PythonCampus da Universidade Gama Filho" src="{{MEDIA_URL}}images/dojo-na-pythoncampus-da-gama-filho.jpg" />
    <p>Foto do coding dojo que aconteceu na PythonCampus da <a href="http://www.ugf.br/">Universidade Gama Filho</a></p>
</div>
{% endblock content %}
