{% extends "base.html" %}

{% block subtitle %}Contato{% endblock subtitle %}

{% block content %}
	<h1>Contato</h1>
	<p>Nossa comunidade precisa muito de sua opinião, sugestões, comentários, etc.</p>
        <div id="form">
		<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

		<script type="text/javascript">
		var m7x4a3 = new WufooForm();
		m7x4a3.initialize({
		'userName':'pythoncampus', 
		'formHash':'m7x4a3', 
		'autoResize':true,
		'height':'555'});
		m7x4a3.display();
		</script>
        </div>
{% endblock content %}
