{% extends "base.html" %}

{% block subtitle %}PythonCampus Petrópolis{% endblock subtitle %}

{% block content %}
<div id="talks">

<h1>PythonCampus Petrópolis (LNCC / IST)</h1>

<p><strong>PythonCampus</strong> é uma caravana de tecnologia que visita as universidades integrando estudantes ao mercado. Este é o evento que mostra que é possível transformar a paixão por tecnologia em uma carreira de sucesso. O evento é <strong>gratuito</strong> e aberto ao público em geral.</p>

<h2>Palestras</h2>

{% for talk in talks %}
<div class="header">
  {{ talk.title }}
  <span>{{ talk.time}}</span>
</div>
<table border="0" cellspacing="15px" cellpadding="0">
  <tr>
    <td colspan="2">
      {{ talk.description|safe }}
    </td>
  </tr>
  <tr>
    <td rowspan="2" class="photo"><img src="{{ talk.speaker_img }}"/></td>
    <td class="speaker">
    <big><a href="{{ talk.speaker_url }}">{{ talk.speaker_name }}</a></big>
    <br />
    {{ talk.speaker_about|safe }}
  </td></tr>
  <tr><td><a href="{{ talk.speaker_url }}">{{ talk.speaker_url }}</a></td></tr>
</table>
<br />
{% endfor %}
</div>

{% endblock content %}