{% extends "base.html" %}

{% block subtitle %}Eu quero uma PythonCampus!{% endblock subtitle %}

{% block content %}
	<h1>Eu quero uma PythonCampus na minha Universidade!</h1>
	<p>PythonCampus é uma iniciativa de um grupo de pessoas apaixonadas por tecnologia que deseja levar um pouco de seu conhecimento e experiência para dentro do meio acadêmico e formar pensadores.</p>
	<p>Para fazermos uma PythonCampus de arrebentar, precisamos de muito pouco. Preencha os campos abaixo para que possamos conversar e fazermos a próxima PythonCampus em sua universidade.</p>
        <div id="form">
            <script type="text/javascript">
                var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
                document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
                var z7x4z5 = new WufooForm();
                z7x4z5.initialize({
                'userName':'pythoncampus', 
                'formHash':'z7x4z5', 
                'autoResize':false,
                'height':'809'});
                z7x4z5.display();
            </script>
        </div>
{% endblock content %}