{% extends "base.html" %}

{% block subtitle %}Sobre a PythonCampus{% endblock subtitle %}

{% block content %}
<h1>Making of</h1>

<p>O site <strong>PythonCampus.org</strong> é resultado do esforço de voluntários da Comunidade de Software do Rio de Janeiro que se reuniram no feriado de São Sebastião, em 20 de janeiro de 2010, para conceber, implementar e lançar o site em um único dia.</p>

<p>O resultado do site você já viu, mas o <strong>processo</strong> que o originou foi tão divertido que resolvemos compartilhar nossos registros.</p>

<h2>A equipe</h2>

<a title="Veja as outras muitas fotos que tiramos durante o sprint." href="http://www.flickr.com/photos/henriquebastos/sets/72157623161286945/"><img style="float: left; padding: 2px; border: solid 1px lightgrey; margin-right: 25px;" src="http://farm3.static.flickr.com/2677/4305034599_156e7db9e3.jpg" alt="Foto da Equipe" width="30%" height="30%"/></a>

<ul> 
	<li><a title="Blog do Alex" href="http://alextercete.wordpress.com">Alex Tercete</a></li> 
	<li><a title="Blog do Turicas" href="http://blog.justen.eng.br/">Álvaro Justen</a></li> 
	<li><a title="Blog do André" href="http://www.andrefonseca.net/">André Fonseca</a></li> 
	<li><a title="Site promovido do Carlos" href="http://apoie.org/">Carlos Flores Cunha</a></li> 
	<li><a title="Twitter do Berrondo" href="http://twitter.com/claudioberrondo">Cláudio Berrondo</a></li> 
	<li>Erick</li> 
	<li><a title="Twitter do Flávio" href="http://twitter.com/flavioamieiro">Flávio Amieiro</a></li> 
	<li>Gustavo Diogo</li> 
	<li><a title="Blog do Gustavo" href="http://www.gustavohenrique.net">Gustavo Henrique</a></li> 
	<li><a title="Meu blog! :-D" href="http://henriquebastos.net">Henrique Bastos</a></li> 
	<li>Leandro</li> 
	<li><a title="Blog do Tauil" href="http://rafael.tauil.com.br/" >Rafael Tauil</a></li> 
	<li><a title="Blog do Ramon" href="http://ramonpage.com/">Ramon Page</a></li> 
	<li><a title="Twitter do Rodrigo" href="http://twitter.com/rodrigoospinto">Rodrigo Pinto</a></li> 
</ul>

<h2>Blogs</h2>

<h4><a href="http://metronus.com/blog/2010/01/20/sprint-day-para-fazer-o-site-do-pythoncampus/">André Fonseca</a></h4>
<p>
Hoje, o pessoal da <a href="http://pythonrio.org">PythonOnRio</a>, <a href="http://horaextra.org">#horaextra</a>, <a href="http://dojorio.org">Dojorio</a>, e muitos outros se encontraram na <a href="http://myfreecomm.com.br">Myfreecomm</a> para fazermos um Sprint Day para fazermos o site do <a href="http://pythoncampus.org">PythonCampus</a>. A <a href="http://pythoncampus.org">PythonCampus</a> é uma iniciativa da galera de levar uma caravana de pessoas apaixonadas por tecnologia para as universidades para mostrar que é possível transformar a paixão por tecnologia em uma carreira de sucesso. <a href="http://metronus.com/blog/2010/01/20/sprint-day-para-fazer-o-site-do-pythoncampus/">Leia mais...</a>
</p>

<h4><a href="http://henriquebastos.net/2010/01/26/sprint-da-pythoncampus-org-no-feriado/">Henrique Bastos</a></h4>

<p>No dia 20 de janeiro foi <a href="http://news.google.com.br/news?sourceid=chrome&q=feriado+sao+sebastiao&um=1&ie=UTF-8&hl=pt&ei=wVxeS8rrDtub8AaL46z-BA&sa=X&oi=news_group&ct=title&resnum=1&ved=0CAwQsQQwAA">feriado na cidade do Rio de Janeiro</a>. Feriados na quarta-feira são difíceis de aproveitar bem, afinal não dá pra emendar no fim de semana.</p> 
<p>Então, como se eu precisasse de alguma desculpa, enviei uma proposta para as listas <a title="Lista de discussão da PythOnRio" href="http://br.groups.yahoo.com/group/pythonrio/">PythOnRio</a>, <a title="Site do #Horaextra" href="http://horaextra.org">#Horaextra</a> e <a title="Lista de discussão do Dojorio" href="http://groups.google.com/group/dojo-rio">Dojorio</a>, para reunir o pessoal em um sprint de um dia para desenvolvermos o <a title="Conheça a PythonCampus" href="http://pythoncampus.org">site da PythonCampus</a>, do conceito ao código. <a href="http://henriquebastos.net/2010/01/26/sprint-da-pythoncampus-org-no-feriado/">Leia mais...</a></p>

<h2>Fotos</h2>

<div style="text-align: center;">
<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=67919336@N00&set_id=72157623161286945&tags=pythonpythoncampuspythonriodjangodojoriohoraextra" frameBorder="0" width="500" height="500" scrolling="no"></iframe>
</div>

<h2>Vídeos</h2>

<div style="text-align: center">
<object width="746" height="413"><param name="movie" value="http://www.youtube.com/cp/vjVQa1PpcFN7BCCkzKGLFcMzNwEKLRRtYL5TdsGTNBE="></param><embed src="http://www.youtube.com/cp/vjVQa1PpcFN7BCCkzKGLFcMzNwEKLRRtYL5TdsGTNBE=" type="application/x-shockwave-flash" width="746" height="413"></embed></object>
</div>
<br />

{% endblock content %}