{% extends "base.html" %}

{% load slideshare %}

{% block subtitle %}Slides da PythonCampus no LNCC em Petrópolis{% endblock subtitle %}

{% block content %}

<h1>Slides das Palestras</h1>


<h2>"Ecossistema Python"</h2>

<p>Palestra introdutória que visa mostrar a abrangência da Linguagem de Programação Python em diversas áreas, Web, dispositivos portáteis, Cloud Computing e muitas outras. As vantagens da adoção da linguagens e suas características fundamentais, o comunidade e a mercado de trabalho que fazem parte do Ecossistema Python.</p>

<div class="slide">
  {% slideshare 4227055 rafael-ecosistema-python-100522113222-phpapp02 %}
</div>


<h2>"Comunidades e Software Livre"</h2>

<p>Palestra abrangindo os principais conceitos em torno do movimento de software livre, visando explicitar as vantagens da adoção de software livre em um projeto de software.
Também serão abordados aspectos com relação à participação em comunidades de software livre.</p>

<div class="slide">
  {% slideshare 4226927 alvarosl-100522112920-phpapp02 %}
</div>


<h2>"Uma Experiência Acadêmica com Python"</h2>

<p>Relato da experiência de uso da linguagem Python no Núcleo de Pesquisa em Sistemas de Informação e no ensino de programação dos cursos de computação do Instituto Federal Fluminense.</p>

<div class="slide">
  {% slideshare 4227026 fabio-apresentacaodonsi-100522113146-phpapp02 %}
</div>


<h2>"O que é Coding Dojo?"</h2>

<div class="slide">
  {% slideshare 4226942 dojo-100522112939-phpapp02 %}
</div>


<h2>"Computação visual com Python"</h2>

<p>Definição de Computação Visual e as diversas áreas da ciência envolvidas, com apresentação de Aplicações, Frameworks e Bibliotecas desenvolvidas em Python.</p>

<div class="slide">
  {% slideshare 4240601 cv-100523071250-phpapp01 %}
</div>


<h2>"Fuja da escravidão, antes que ela te alcance."</h2>

<p>Você é da área de tecnologia? Acredite, você está em muita vantagem!
Conheça como funciona a sociedade e a organização do trabalho, e saiba como a Internet, o Software Livre e tecnologias como Python e Ruby podem revolucionar a sua vida.
Aprenda a hackear o "ciclo vicioso social" e ter as rédeas o teclado da sua vida, nas suas mãos.</p>

<div class="slide">
  {% slideshare 4240601 pythoncampus-100523222347-phpapp02 %}
</div>

<h2>Palestras Relâmpago</h2>

<p>As palestras relâmpagos acontecem como uma sessão de "desconferência". É um momento de integração e diversão, onde o público sobe no palco para uma rápida apresentação em apenas 5 minutos.</p>

<div class="slide">
  <span>Programação vs. Arte</span>
  {% slideshare 4240738 programao-vs-arte-100523072948-phpapp02 %}
</div>

<div class="slide">
  <span>7 passos para imortalizar seu projeto</span>
  {% slideshare 4251544 setepassos-100523134533-phpapp02 %}
</div>

<div class="slide">
  <span>Community-a-holic</span>
  {% slideshare 4250438 community-a-holic-100523132254-phpapp02 %}
</div>

<div class="slide">
  <span>Não subestime a Física e a Matemática</span>
  {% slideshare 4237571 pythoncampus-100522212821-phpapp02 %}
</div>

<div class="slide">
  <span>ForkinRio</span>
  {% slideshare 4237425 forkinrio-100522203038-phpapp02 %}
</div>

{% endblock content %}
