{% extends "base.html" %}

{% block subtitle %}Arena de Programação DojoRio{% endblock subtitle %}

{% block content %}

<h1>Slides das Palestras</h1>

<div>
    <h2>"Ecossistema Python"</h2>
    <p>Palestra introdutória que visa mostrar a abrangência da Linguagem de Programação Python em diversas áreas, Web, dispositivos portáteis, Cloud Computing e muitas outras. As vantagens da adoção da linguagens e suas características fundamentais, o comunidade e a mercado de trabalho que fazem parte do Ecossistema Python.</p>
    
    <p><center>SLIDE</center></p>
    
    <h2>"Comunidades e Software Livre"</h2>
    
    <p>Palestra abrangindo os principais conceitos em torno do movimento de software livre, visando explicitar as vantagens da adoção de software livre em um projeto de software.
Também serão abordados aspectos com relação à participação em comunidades de software livre.</p>

  <p><center>SLIDE</center></p>
  
  <h2>"Uma Experiência Acadêmica com Python"</h2>
  
  <p>Relato da experiência de uso da linguagem Python no Núcleo de Pesquisa em Sistemas de Informação e no ensino de programação dos cursos de computação do Instituto Federal Fluminense.</p>
  
  <p><center>SLIDE</center></p>

<!--  
  <h2>"Computação visual com Python"</p>
  
  <p>Definição de Computação Visual e as diversas áreas da ciência envolvidas, com apresentação de Aplicações, Frameworks e Bibliotecas desenvolvidas em Python.</p>
  
  <p>SLIDE</p>
  
  <h2>"Fuja da escravidão, antes que ela te alcance."</h2>
  
  <p>Você é da área de tecnologia? Acredite, você está em muita vantagem!
Conheça como funciona a sociedade e a organização do trabalho, e saiba como a Internet, o Software Livre e tecnologias como Python e Ruby podem revolucionar a sua vida.
Aprenda a hackear o "ciclo vicioso social" e ter as rédeas o teclado da sua vida, nas suas mãos.</p>

  <p>SLIDE</p>
-->

</div>
{% endblock content %}
