{% extends "base.html" %}

{% block subtitle %}Sobre a PythonCampus{% endblock subtitle %}

{% block content %}
<h1>Sobre a PythonCampus</h1>

<h2>O que é?</h2>

<p><strong>PythonCampus</strong> é uma caravana de tecnologia que visita as universidades integrando estudantes ao mercado. Este é o evento que mostra que é possível transformar a paixão por tecnologia em uma carreira de sucesso.</p>

<p>Durante um sábado inteiro, estudantes, professores, profissionais e entusiastas participam de palestras, mini-cursos, <em>coding dojos</em> e um grande <a href="http://horaextra.org">#horaextra</a> de confraternização. Falamos muito sobre software livre,  Python, mercado de trabalho, tecnologias emergentes e etc.</p>

<h2>Como é feito?</h2>

<p>Comunidade, professores, alunos e universidades se unem para realizar o evento de forma profissional e divertida. A programação de palestras e mini-cursos é produzida de forma conjunta, apoiada pela infra-estrutura da universidade e o material publicitário divulgado por todos os envolvidos.</p>

<h2>Como participar?</h2>

<p>Para participar, acompanhe a lista de discussao da <strong>PythonOnRio</strong> ou entre em contato com a gente para levar a <strong>PythonCampus</strong> a sua universidade.</p>

<h2>Quem somos?</h2>

<p>Uma comunidade de entusiastas e amantes de tecnologia e software livre.</p>

<p>Comunidade formada por empresarios, profissionais, estudantes, professores e entusiastas de tecnologia que fazem coisas legais com software livre. Temos interesse em qualidade de software, open source como modelo econômico e desenvolvimento colaborativo.</p>
{% endblock content %}