{% extends "base.html" %}

{% block subtitle %}Sobre a PythonCampus{% endblock subtitle %}

{% block content %}
<h1>Sobre a PythonCampus</h1>

<h2>O que é?</h2>

<p><strong>PythonCampus</strong> é uma caravana de tecnologia que visita as universidades integrando estudantes ao mercado. Este é o evento que mostra que é possível transformar a paixão por tecnologia em uma carreira de sucesso.</p>

<p>É um dia inteiro repleto de palestras, mini-cursos, <a href="http://dojorio.org">dojos</a> e open spaces, onde todos participam compartilhando experiências enquanto fazem novos bons amigos. O dia termina com uma grande confraternização aos moldes do tradicional <a href="http://horaextra.org">#horaextra</a>.</p>

<h2>Como é feito?</h2>

<p>A comunidade une suas forças para organizar uma super agenda focada em <a href="http://pt.wikipedia.org/wiki/Software_livre">Software Livre</a>, <a href="http://improveit.com.br/xp/manifesto_agil">métodos ágeis</a>, mercado de trabalho, <a href="http://python.org.br">Python</a> e tecnologias emergentes, cuidando de toda a logística.</p>

<p>Do outro lado, a universidade providencia a infra-estrutura necessária para realizarmos um belo evento.</p>

<p>Juntos, nós espalhamos a notícia para que todos os estudantes sejam informados sobre esta grande oportunidade.</p>

<h2>Como participar?</h2>

<p>Inscreva-se na <a href="http://br.groups.yahoo.com/group/pythonrio/">lista de discussão</a> da <a href="http://pythonrio.org">PythonOnRio</a> ou entre em <a href="/contato/">contato</a> com a gente para levar a <strong>PythonCampus</strong> para sua universidade.</p>

<h2>Quem somos?</h2>

<p>Somos empresários, profissionais, estudantes, professores e entusiastas, apaixonados por tecnologia e compartilhando uma forte crença nos princípios do <a href="http://pt.wikipedia.org/wiki/Software_livre">Software Livre</a>.</p>

<p>Estamos trabalhando continuamente para transformar a nossa comunidade <strong>no maior bazar do mundo <a href="http://www.flickr.com/search/?q=rio%20de%20janeiro%20beach&w=all&s=int">com vista para o mar</a></strong>.</p>
{% endblock content %}