{% extends "base.html" %}

{% block subtitle %}{{ talk.title }}{% endblock subtitle %}

{% block content %}
<div>
    <h1>{{ talk.title }}</h1>
    <ul style="list-style-type: none">
        <li>{{ talk.day|date:"d/m/Y"}} - {{talk.start_time|time:"H:i" }}</li>
        {% if talk.duration %}
            <li> duração: {{ talk.duration }}</li>
        {% endif %}
    </ul>
    <p>{{ talk.description }}</p>
</div>
{% include "talks/speakers.html" %}
<div>
    {% if talk.media_code %}
        {{ talk.media_code|safe }}
    {% endif %}
</div>
{% endblock content %}
